{%extends 'crm/main.html'%}

{%load static%}

{% block content  %}

<br>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card card-body">
                
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form}}
                    <br><input class="btn btn-danger" type="submit"style="center" name="Submit">
                </form>
            </div>  
        </div>  
    </div>  
</div>
{% endblock  %}